<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" type="text/css">

    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <title>Address Book</title>
</head>
<body>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "bg-dark col-md-3 min-vh-100">
                <div class = "bg-dark p-2">
                    <a class = "d-flex text-decoration-none mt-1 align-items-center text-white">
                        <span class = "fs-4 d-none d-sm-inline"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></span>
                    </a>
                    <ul class = "nav nav-pills flex-column mt-4">
                        <li class = "nav-item my-2 py-sm-0" id="homeBtn">
                            <a href = "#" class = "nav-link text-white">
                                <i class="fa-solid fa-home" style="color: #ffffff;"></i> <span class = "fs-4 ms-3 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class = "nav-item my-2 py-sm-0" id="contactsBtn">
                            <a href = "#" class = "nav-link text-white">
                                <i class="fa-solid fa-users" style="color: #ffffff;"></i> <span class = "fs-4 ms-3 d-none d-sm-inline">Show Contacts</span>
                            </a>
                        </li>
                        <li class = "nav-item my-2 py-sm-0" id="addContactsBtn">
                            <a href = "#" class = "nav-link text-white">
                                <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> <span class = "fs-4 ms-3 d-none d-sm-inline">Add Contacts</span>
                            </a>
                        </li>
                        <li class = "nav-item my-2 py-sm-0" id="uniqueContactsBtn">
                            <a href = "#" class = "nav-link text-white">
                                <i class="fa-solid fa-address-card" style="color: #ffffff;"></i> <span class = "fs-4 ms-3 d-none d-sm-inline">Unique Contacts</span>
                            </a>
                        </li>
                        <li class = "nav-item my-2 py-sm-0" id="addAddressBookBtn">
                            <a href = "#" class = "nav-link text-white">
                                <i class="fa-solid fa-address-book" style="color: #ffffff;"></i> <span class = "fs-4 ms-3 d-none d-sm-inline">Add Address Book</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div id="contactsPage"  class = "col-md-9 mt-4">
                <div id="addressBookBtns">
                </div>
            </div>
            <div id="uniqueContactsPage"  class = "col-md-9 mt-4">
                <div class="card m-5">
                    <div class="card-body">
                        <div>
                            <h4 id="uniqueDetailsHead" class="text-center"></h4>
                        </div>
                        <table class="table table-hover text-center">
                            <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Contact Number</th>

                            </tr>
                            </thead>
                            <tbody id="uniqueContactRecords">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div id="homePage"  class = "col-md-9 mt-4">
                <div id="greet" style="font-size:32px; color:#0047ab; text-align:center; padding:8px"></div>
                <div class="container-fluid">
                    <div id="addressBookTiles">
                    </div>
                </div>
            </div>

            <div id="addContactsPage"  class = "col-md-9 mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 p-2">
                            <div class="card service-card" style="box-shadow:5px 5px 5px #0047AB">
                                <div class="card-header p-4" style = "background-color : #0047AB">
                                    <h5 class="card-title text-white text-center">Contact Details Form</h5>
                                </div>
                                <div class="card-body">
                                    <form autocomplete="off" class="mt-5" id="contactDetails">
                                        <div class="form-floating form-group py-1 my-2">
                                           <input type="text" class="form-control inputText"  name="contactName" id="contactName" placeholder="###">
                                            <label for="contactName">Contact Name</label>
                                            <p id="validName" style="font-size : 10px; color : #e70d44; padding-top:2px"></p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div  class="form-floating form-group py-1">
                                                    <input type="text" class="form-control inputText"  name="countryCode" id="countryCode"
                                                           value="+61" placeholder="###" readonly="true">
                                                    <label for="countryCode">Code</label>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div  class="form-floating form-group py-1">
                                                    <input type="text" class="form-control inputText"  name="contactNumber" id="contactNumber" placeholder="###" pattern="[0-9]+">
                                                    <label for="contactNumber">Contact Number</label>
                                                    <p id="validNumber" style="font-size : 10px; color : #e70d44;padding-top:2px"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating form-group py-1 my-2">
                                            <select id="addressBookOption" class="form-control" name="addressBookOption">

                                            </select>
                                            <label for="addressBookOption">Choose Address Book</label>
                                            <p id="validDropdownName" style="font-size : 10px; color : #e70d44;padding-top:2px"></p>
                                        </div>
                                        <div class="text-center my-4">
                                            <button type="button" class="btn btn-secondary" style = "background-color : #0047AB" formaction="#" id="saveDetails">Save Details</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div id="addAddressBookPage"  class = "col-md-9 mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="card service-card mx-10 my-2" style="box-shadow:5px 5px 5px #0047AB">
                                <div class="card-header p-4" style = "background-color : #0047AB">
                                    <h5 class="card-title text-white text-center" id="addAddressBookPageHeader">New Address Book</h5>
                                </div>
                                <div class="card-body">

                                    <form autocomplete="off" class="mt-5">

                                        <div class="form-floating form-group my-4">
                                            <input type="text" class="form-control inputText" name="addressBookName" id="addressBookName" placeholder="###">
                                            <label for="addressBookName">Address Book Name</label>
                                            <p id="validAddressBookName" style="font-size : 10px; color : #e70d44"></p>
                                        </div>
                                        <div class="text-center my-4">
                                            <button type="button" class="btn btn-secondary" style = "background-color : #0047AB" formaction="#" id="addNewBookBtn">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="updateContactsPage"  class = "col-md-9 mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="card service-card mx-10 my-2" style="box-shadow:5px 5px 5px #0047AB">
                                <div class="card-header p-4" style = "background-color : #0047AB">
                                    <h5 class="card-title text-white text-center" id="updatePageHeader"></h5>
                                </div>
                                <div class="card-body">

                                    <form autocomplete="off" class="mt-5">
                                        <p id="addrBookType" style = "display : none"></p>
                                        <div class="form-floating form-group my-4">
                                            <input type="text" class="form-control inputText" name="updateId" id="updateId" placeholder="###" readonly=true>
                                            <label for="updateId">Contact Id</label>
                                        </div>
                                        <div class="form-floating form-group my-4">
                                            <input type="text" class="form-control inputText"  name="updateName" id="updateName" placeholder="###">
                                            <label for="updateName">Contact Name</label>
                                            <p id="validUpdateName" style="font-size : 10px; color : #e70d44"></p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div  class="form-floating form-group py-1">
                                                    <input type="text" class="form-control inputText"  name="updateCountryCode" id="updateCountryCode"
                                                           value="+61" placeholder="###" readonly="true">
                                                    <label for="updateCountryCode">Code</label>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div  class="form-floating form-group">
                                                    <input type="text" class="form-control inputText"  name="updateNumber" id="updateNumber" placeholder="###" pattern="[0-9]+">
                                                    <label for="updateNumber">Contact Number</label>
                                                    <p id="validUpdateNumber" style="font-size : 10px; color : #e70d44"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center my-4">
                                            <button type="button" class="btn btn-secondary" style = "background-color : #0047AB" formaction="#" id="updateDetails">Update Details</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>